/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  outline: none;
}

// 這裡開始是樣式 
.warp {
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  font-family: NotoSansCJKtc-DemiLight;

  .fz-ls {
    font-size: 14px;
    letter-spacing: 1.46px;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 24vh;
    position: fixed;
    bottom: 0;
    background-color: #defff2;
    background-image: url(img/footer-background.svg);
    background-size: 4rem;
    z-index: -1;
  }

  .btn {
    font-family: NotoSansCJKtc-Medium;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 14px;
    border: none;
    outline: none;
    // display: inline;
    cursor: pointer;
  }

  .side-min-btn {
    display: none;
  }

}

.flex {
  display: flex;
}

.main-side {
  margin-top: 80px;

  .side-bar {
    display: none;
  }

  .order {
    background: #F3F3F3;
    border-radius: 10px 0 0 10px;
    padding: 24px 26px;
    margin-bottom: 24px;

    h1 {
      font-family: NotoSansCJKtc-Medium;
      font-size: 18px;
      color: #000000;
      letter-spacing: 1.88px;
      margin-bottom: 14px;
    }

    h2 {
      font-size: 16px;
      color: #5E5E5E;
      letter-spacing: 1.67px;
      line-height: 24px;
    }

    p {
      font-size: 16px;
      color: #000000;
      letter-spacing: 1.67px;
      line-height: 24px;
      margin-bottom: 14px;
    }
  }

  .side-text {
    height: 281px;
    display: flex;
    align-items: center;
    margin-right: 28px;
    font-size: 20px;
    letter-spacing: 2.09px;
    position: relative;

    &::before {
      content: "";
      border: 1px solid #000000;
      width: 20px;
      height: 1px;
      background: #000000;
      display: block;
      position: absolute;
      top: 35%;
      left: 65%;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      border: 1px solid #000000;
      width: 20px;
      height: 1px;
      background: #000000;
      display: block;
      position: absolute;
      top: 65%;
      left: 65%;
      transform: rotate(135deg);
    }
  }

  .btn {
    background: #4B4B4B;

    &:hover {
      background-color: rgba(75, 75, 75, .7);
    }
  }

  .order-finish {
    height: 281px;
    background: #F3F3F3;
    border-radius: 10px 0 0 10px;
    padding: 24px 26px;
    margin-bottom: 24px;
  }
}

.main-top {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  position: relative;

  // font page
  .step {
    background: #8DEFCB;
    border-radius: 50%;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
  }

  .step2 {
    background: #D8D8D8;
  }

  .step3 {
    background: #AFAFAF;
  }

  .line {
    height: 3px;
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(240deg, #D8D8D8 70%, #8DEFCB);
    z-index: -2;
  }

  // step2.
  .current-step {
    background: #8DEFCB;
  }

  .step2-line {
    background-image: linear-gradient(200deg, #D8D8D8, #8DEFCB 80%);
  }

  // step3.
  .step3-line {
    background: #8DEFCB;
  }
}

.main-button {
  background: #FFFFFF;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.08);
  border-radius: 0 10px 0 0;
  padding-top: 38px;
  width: 628px;
  height: 90%;

  .title-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-family: NotoSansCJKtc-Medium;
    font-size: 20px;
    color: #000000;
    letter-spacing: 2.09px;
    background-image: linear-gradient(180deg, #fff 50%, #b5ffe4 0);
    padding: 8px 10px;
  }

  .chose {
    font-family: NotoSansCJKtc-Medium;
    font-size: 12px;
    color: #000000;
    letter-spacing: 1.25px;
    margin-top: 7px;

  }

  .next {
    margin-top: 20px;
    display: flex;
    justify-content: end;

    .btn {
      padding: 10px 20px 10px 22px;
    }
  }

  .payBtns,
  .installmentGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 115px;

  }

  .stepGroup {
    display: flex;
    justify-content: space-between;

    .btn {
      margin: 0;
    }
  }

  .btn {
    background-color: #36B996;

    &:hover {
      background-color: rgba(54, 185, 150, .7);
    }
  }

  .prev {
    background: #D5F5E9;
    color: #000000;

    &:hover {
      background: rgba(213, 245, 233, .7);
    }
  }

  .payBtn {
    background: #F7F7F7;
    border-radius: 5px;
    width: 104px;
    height: 90px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(54, 185, 150, .7);
      color: #fff;
      transform: scale(1.2);
    }

    img {
      height: 3rem;
    }

    .img-active {
      filter: brightness(0) invert(1);
    }

    p {
      margin-top: 25px;
      text-align: center;
    }
  }

  // 當點擊到選擇付款方式觸發
  .pay-active {
    background-color: #36B996;
  }

  .content {
    padding: 0 68px;

    p {
      margin-bottom: 10px;
    }

    input,
    select {
      margin-bottom: 18px;
    }

    option {
      color: #979797;
    }
  }

  .installmentGroup {
    justify-content: start;
  }

  .installment {
    display: flex;
    margin: 0 30px 19px 0;
    cursor: pointer;
  }

  .insta-border {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #979797;
    position: relative;
    margin-right: 9px;
  }

  .insta-active {
    //點擊才套用
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #41C897;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fz {
    font-size: 18px;
  }

  .text-center {
    text-align: center;
  }

  .border {
    border-radius: 5px;
    border: 1px solid #979797;
  }

  .creditNum {
    input {
      width: 61px;
    }

    .credit-active {
      filter: invert(55%) sepia(98%) saturate(287%) hue-rotate(113deg) brightness(93%) contrast(89%);
    }
  }

  .creditBack {
    .img-group {
      margin-left: 11px;
    }
  }

  select {
    box-sizing: border-box;
    padding-right: 10px;
    font-size: 16px;
    text-align: end;
  }

  .email {
    input {
      padding-left: 10px;
    }
  }

  .confirm {
    display: flex;
    margin-bottom: 28px;

    .checkbox {
      width: 20px;
      height: 16px;
      margin: 6px 10px 0 0;
      position: relative;
      cursor: pointer;
    }

    .cb-active {
      width: 11.5px;
      height: 13.5px;
      border-radius: 4px;
      background: #41C897;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    p {
      color: #000000;
      line-height: 25px;
    }

    .last {
      color: #969696;
    }
  }

  ol {
    margin-bottom: 33px;

    .bank-text {
      font-family: NotoSansCJKtc-DemiLight;
      font-size: 14px;
      color: #000000;
      letter-spacing: 1.46px;
      line-height: 25px;
    }
  }

  .finishGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .finish-bg {
      width: 146px;
      height: 146px;
      border-radius: 50%;
      background: #B5FFE4;
      margin: 80px;
    }

    .finishBtn {
      margin: 0 auto;
    }

    .finish-text {
      margin-bottom: 50px;
    }

    // .btn{
    //   padding: 14px;
    // }
  }

  .finishShop {
    p {
      font-size: 24px;
      letter-spacing: 2.51px;
      margin: 10px 0 32px;
    }

    .finish-text {
      font-size: 15px;
      margin-bottom: 66px;
    }
  }

  .img-group {
    margin: 8px 0 0 21px;
  }

  .img {
    width: 35.6px;
    height: 22.7px;
  }

  .ip-width93 {
    width: 93px;
  }

  .ip-height {
    box-sizing: border-box;
    height: 34px;
  }

  .ip-width235 {
    box-sizing: border-box;
    width: 235px;
  }

  .margin-top {
    margin-top: 45px;
  }


  .text-align {
    text-align: start;
    padding-left: 10px;
  }
}

@media (max-width: 768px) {
  .main-side {
    position: absolute;
    left: 0;

    .side-bar {
      display: block;
      border-radius: 0 10px 10px 0;
      background-color: #f3f3f3;
      padding: 1rem;
      width: 16px;
      box-shadow: 2px 3px 5px rgba(0, 0, 0, .5);
      cursor: pointer;
      float: right;
      z-index: 2;

      &-active {
        opacity: 0.8;
      }
    }

    .order-min {
      display: none;
      float: left;
      border-radius: 0;
      box-shadow: -6px 3px 10px rgba(0, 0, 0, .5);
      opacity: 0.8;
      width: 170px;

      &-active {
        display: block;
      }
    }


    .btn {
      display: none;
    }
  }

  .side-min-finish {
    display: none;
  }

  .main-top {
    // width: 320px;
    margin: 0 auto 20px;
  }

  .main-button {
    width: 100%;
    // height: 555px;

    .content {
      padding: 0 10px;
    }

    .payBtns {
      margin-top: 40px;
    }

    .payBtn {
      width: 100px;
      height: 80px;

      p {
        margin-top: 1rem;
        font-size: 13px;
      }
    }

    .next {
      margin: 0 4rem 0 0;
    }

    .next.return {
      margin: 0;
    }
  }

  .warp {
    .side-min-btn {
      display: inline;
      background: #4B4B4B;
      padding: 10px 14px;
      margin-top: 2.5rem;

      &:hover {
        background: rgba(75, 75, 75, .5);

      }
    }
  }
}

@media (max-width: 350px) {

  .main {
    width: 100%;
  }

  .main-button {

    .payBtn {
      width: 80px;
      height: 60px;

      img {
        height: 2rem;
      }
    }

    .next {
      margin-right: 1rem;
    }
  }

  .main-top {
    width: 320px;
    margin: 0 auto 20px;
  }

}
